<%= form_for comment do |f| %>
  <%= f.hidden_field :movie_id %>
  <div class="row form-group">
    <div class="col-md-9">
      <%= f.text_area :comment_text, class: "form-control" %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-9 col-md-offset-3">
      <%= f.submit 'Submit', class: 'btn btn-primary col-md-12 col-sm-12' %>
    </div>
  </div>
<% end %>
