<div>
  <span>Welcome <%= current_user.email %></span>
  <a class="btn btn-primary" href="/movies/new">Share a movie</a>
  <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "btn btn-info") %>
</div>
